gradio>=4.19.2,<4.45.0
numpy>=1.26.3
pandas>=2.2.0
nltk>=3.8.1
networkx>=3.2.1
tensorflow>=2.14.0
tensorflow-hub>=0.15.0
textblob>=0.17.1
kagglehub>=0.1.5
matplotlib>=3.8.2
seaborn>=0.13.2
transformers>=4.37.2
scipy>=1.11.4